In [1]:
print('Hello World')

Hello World

In [5]:
print(6) 
print(7.5)

6
7.5

In [6]:
print(False)

False

In [8]:
print("India",24,False)

India 24 False

In [10]:
print("India","Nepal",sep='/')

India/Nepal

In [11]:
print("Hello",end=' ')
print("World")

Hello World

## Python supports 3 categories of data types:##
    Basic Types - (integer,float,complex,boolean and string) 
    Container Types - (List,Tuples, Sets and Dictionary)
    User-defined Types - Class

In [14]:
# list
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [15]:
# tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [16]:
#sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [17]:
# dict
print({"Name":"Nitish","Age":30,"gender":"Male"})

{'Name': 'Nitish', 'Age': 30, 'gender': 'Male'}

In [18]:
#taking input from users
input('Please type your name')

Please type your nameSiddharth

'Siddharth'

In [23]:
first_num = input('Type first num')
second_num = input('Type second num')

Type first num24
Type second num56

In [24]:
first_num + second_num

'2456'

In [25]:
type(first_num)

str

In [26]:
first_num = int(input('Type first num'))
second_num = int(input('Type second num'))
first_num + second_num

Type first num25
Type second num75

100

## Literals

### Numerical Literals

In [27]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2
float_3 = 1.5e-3

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

### String Literals

In [29]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"   #for smileys
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

### Boolean literals

In [31]:
a = True + 4     #True is treated as 1
b = False + 10   #False is treated as 0

print("a:", a)
print("b:", b)

a: 5
b: 10

In [33]:
a = None 
print(a)

None

##  Special Literal

In [1]:
a = None
print(a)

None

In [2]:
k = None

In [3]:
k

In [4]:
print(k)

None

## Operators

In [5]:
print(3%2)

1

In [6]:
print(5 // 2)

2

In [7]:
# Bitwise

x = 2
y = 3

In [8]:
print(x & y)

2

#2 = 10 & 3 = 11  after and operation = 10 so 3

In [10]:
print(x >> 2)  #shift right by 2

0

In [11]:
print(y << 3) #shift left by 3

24

In [18]:
# Assignment
a = 3
print(a)

3

In [19]:
a += 3
# a = a + 3
print(a)

6

In [20]:
a -= 3
print(a)

3

In [21]:
a *= 3
print(a)

9

In [22]:
a &= 3
#boolean operator 9(1001) & 3(0011) = 0001
print(a)

1

### Indentation

### if else

In [25]:
#correct email = sgrockstar@gmail.com
#pass = 1234

email = input("Apna email batao?")
password = input("Apna password batao?")

if email == 'sgrockstar@gmail.com' and password == '1234':
    print('Welcome')
else:
    print('Wrong credentials')

Apna email batao?sgrockstar@gmail.com
Apna password batao?1234
Welcome

In [28]:
#two chances for pass if email correct
email = input("Apna email batao?")
password = input("Apna password batao?")

if email == 'sgrockstar@gmail.com' and password == '1234':
    print('Welcome')
elif email == 'sgrockstar@gmail.com' and password != '1234':
    print('Incorrect Password')
    password = input("Firse password batao")
    if password == '1234':
        print('Finally Correct')
    else:
        print('again incorrect')
else:
    print('Wrong credentials')

Apna email batao?sgrockstar@gmail.com
Apna password batao?123456
Incorrect Password
Firse password batao123
again incorrect

In [29]:
#if email does not contain @ show incorrect
email = input("Apna email batao?")
if '@' in email:
    password = input("Apna password batao?")


    if email == 'sgrockstar@gmail.com' and password == '1234':
        print('Welcome')
    elif email == 'sgrockstar@gmail.com' and password != '1234':
        print('Incorrect Password')
        password = input("Firse password batao")
        if password == '1234':
            print('Finally Correct')
        else:
            print('again incorrect')
else:
    print('Wrong credentials')

Apna email batao?dgwudygwu
Wrong credentials

### While

In [31]:
number = int(input('tell me a number?'))

i = 1
while i < 11:
    print(number,'*',i,'=',number*i)
    i += 1

tell me a number?20
20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

# Guessing Game

In [32]:
import random

In [33]:
num = random.randint(1,100)
guess_number = int(input('Guess a number between 1 and 100'))

while guess_number != num:
    if guess_number > num:
        print('Guess lower')
    else:
        print('Guess higher')
    guess_number = int(input('Guess a number between 1 and 100'))    
print('Correct Guess')

Guess a number between 1 and 10026
Guess lower
Guess a number between 1 and 10015
Guess higher
Guess a number between 1 and 10020
Guess lower
Guess a number between 1 and 10018
Guess lower
Guess a number between 1 and 10016
Correct Guess

In [34]:
num = random.randint(1,100)
guess_number = int(input('Guess a number between 1 and 100'))

counter = 1 
while guess_number != num:
    if guess_number > num:
        print('Guess lower')
    else:
        print('Guess higher')
    guess_number = int(input('Guess a number between 1 and 100')) 
    counter+=1
    
print('Correct Guess')
print('You took',counter,'attemps')

Guess a number between 1 and 10020
Guess higher
Guess a number between 1 and 10050
Guess lower
Guess a number between 1 and 10030
Guess higher
Guess a number between 1 and 10040
Guess higher
Guess a number between 1 and 10045
Guess higher
Guess a number between 1 and 10049
Guess lower
Guess a number between 1 and 10047
Guess lower
Guess a number between 1 and 10046
Correct Guess
You took 8 attemps

## Nested loops

In [38]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [39]:
list(range(1,4))

[1, 2, 3]

In [41]:
num_rows = int(input('number of rows you need'))  #triangle of *

for i in range(1,num_rows+1):
    for j in range(0,i):
        print('*', end = ' ')
    print('')

number of rows you need5
*
* *
* * *
* * * *
* * * * *

In [42]:
# ends the output with a space
print("Welcome to", end = ' ')
print("GeeksforGeeks", end= ' ')

Welcome to GeeksforGeeks

In [43]:
# ends the output with '@'
print("Python", end='@')
print("GeeksforGeeks")

Python@GeeksforGeeks

In [44]:
print('G','F', sep='', end='')
print('G')

#\n provides new line after printing the year
print('09','12','2016', sep='-', end='\n')
  
print('Red','Green','Blue', sep=',', end='@')
print('geeksforgeeks')

GFG
09-12-2016
Red,Green,Blue@geeksforgeeks

In [45]:
num_rows = int(input('number of rows you need'))  #triangle of *

for i in range(1,num_rows+1):
    for j in range(0,i):
        print('*', end = ' ')

number of rows you need3
* * * * * *

In [46]:
print('G','F', sep='', end='')
print('')
print('G')

GF
G

#### Break, Continue, Pass

In [47]:
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [48]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [49]:
# Pass Statement

for i in range(1,11):
    pass

### functions in python

In [50]:
#type 
a = False
type(a)

bool

In [51]:
int(5.6)
# float
# str
# list
# tuple

5

In [52]:
abs(-4)

4

In [53]:
pow(2,-3)

0.125

In [54]:
min("kolkata") #based on ascii values

'a'

In [55]:
c = 22/7
round(c)

3

In [56]:
len([1,2,54,6])

4

In [57]:
sum({1,2,3,4,5})

15

In [58]:
#to get details \
help(round)

Help on built-in function round in module builtins:

round(...)
    round(number[, ndigits]) -> number

    Round a number to a given precision in decimal digits (default 0 digits).
    This returns an int when called with one argument, otherwise the
    same type as the number. ndigits may be negative.

# Modules

In [59]:
import math

In [60]:
math.factorial(5)

120

In [61]:
import random

In [62]:
random.randint(1,100)

21

In [64]:
a= [1,2,3,4,5]
random.shuffle(a)
a

[2, 5, 3, 4, 1]

In [65]:
import time

In [67]:
time.time()

1715335306.688528

In [68]:
time.ctime()

'Fri May 10 15:31:54 2024'

In [69]:
import os

In [71]:
os.getcwd()

'C:\\Users\\gdsid\\sid_python_folder\\campusx_python_prog'

In [72]:
#indexing
c= 'Hello World'
c[0] #positive indexing

'H'

In [73]:
c[-1] #negative indexing

'd'

In [74]:
c[0:5] #slicing

'Hello'

In [75]:
c[2:]

'llo World'

In [76]:
c[:5]

'Hello'

In [77]:
c[-1:]

'd'

In [78]:
c[:-1]

'Hello Worl'

In [79]:
print(c[0:8:2])  #slicing will skip by set of 2

HloW

In [80]:
#reverse string
c[::-1]

'dlroW olleH'

In [82]:
#arithmatic operation
"Hello" + " " +  "World"

'Hello World'

In [83]:
print("*"*50)

**************************************************

In [84]:
print("hello"*5)

hellohellohellohellohello

In [85]:
#division substraction won't work

In [89]:
c= "Hello World"

for i in c:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [88]:
c= "Hello World"

for i in c:
    print(i, end = '')

Hello World

In [90]:
c= "Hello World"

for i in c[1:9:2]:
    print(i, end = '')

el o

## String functions

#### Common functions

In [92]:
#len, min, max, sorted - Functions which are applicable to other data types
c = 'Kolkata'
len(c)

7

In [93]:
min(c) #Ascii values used

'K'

In [94]:
max(c)

't'

In [95]:
sorted(c)

['K', 'a', 'a', 'k', 'l', 'o', 't']

In [96]:
### Other functions - only applicable to strings
"it is raining today".capitalize()

'It is raining today'

In [97]:
"it is raining today".title()

'It Is Raining Today'

In [98]:
c= 'yoo man'
c.upper()

'YOO MAN'

In [100]:
c.lower()

'yoo man'

In [101]:
'KolKata'.swapcase()

'kOLkATA'

In [102]:
'it is raining'.count('i')  #count function

4

In [103]:
'it is raining'.count('ing')

1

In [104]:
#find/ Index
'it is raining'.find('i')

0

In [105]:
'it is raining'.find('x')

-1

In [106]:
'it is raining'.endswith('ing')

True

In [108]:
'it is raining'.startswith('it')

True

In [109]:
"Hello my name is {} and my age is {}".format('Sid',33)

'Hello my name is Sid and my age is 33'

In [110]:
"Hello my name is {1} and my age is {0}".format('Sid',33)

'Hello my name is 33 and my age is Sid'

In [111]:
"Hello my name is {name} and age is {age}".format(name = 'Sid', age = '33', weight = 20 )

'Hello my name is Sid and age is 33'

In [112]:
#isalnum / isalpha/ isdecimal/ isdigit 
'FLAT20'.isalnum()

True

In [113]:
'Flat20$'.isalnum()

False

In [115]:
'flat'.isalpha()

True

In [117]:
'1'.isdigit()

True

In [118]:
'hello_world'.isidentifier()

True

In [119]:
#split string to list 
'what a wonderful day !'.split()

['what', 'a', 'wonderful', 'day', '!']

In [120]:
'what a wonderful day !'.split('a')

['wh', 't ', ' wonderful d', 'y !']

In [121]:
'what a wonderful day to be alive!'.split('to')

['what a wonderful day ', ' be alive!']

In [122]:
#join 
" ".join(['we','are','goin','to','ibiza'])

'we are goin to ibiza'

In [123]:
"-".join(['we','are','goin','to','ibiza'])

'we-are-goin-to-ibiza'

In [125]:
#replace
'what a wonderful day to be alive!'.replace('wonderful','sad')

'what a sad day to be alive!'

In [126]:
#strip
name = '     Sid    '
name.strip()

'Sid'

In [127]:
print(name.strip())

Sid

In [128]:
name

'     Sid    '

In [129]:
name = name.strip()
print(name)

Sid

# LIST

In [130]:
l = [1,2,3,4,5]

In [131]:
l[0]

1

In [132]:
l[-1]

5

In [133]:
l[0] = 100
l

[100, 2, 3, 4, 5]

In [134]:
l.append('hello')

In [135]:
l

[100, 2, 3, 4, 5, 'hello']

In [136]:
l.extend([1,2,3])
l

[100, 2, 3, 4, 5, 'hello', 1, 2, 3]

In [137]:
l.insert(1,'world')

In [138]:
l

[100, 'world', 2, 3, 4, 5, 'hello', 1, 2, 3]

In [139]:
l.insert(0,20)

In [140]:
l

[20, 100, 'world', 2, 3, 4, 5, 'hello', 1, 2, 3]

In [142]:
l2 = [1,2,3,'yo']
l2

[1, 2, 3, 'yo']

In [143]:
del l2
l2

NameError: name 'l2' is not defined

In [144]:
del l[0]
l

[100, 'world', 2, 3, 4, 5, 'hello', 1, 2, 3]

In [145]:
del l[1:3]
l

[100, 3, 4, 5, 'hello', 1, 2, 3]

In [147]:
del l[-3:]

In [148]:
l

[100, 3, 4, 5, 'hello']

In [149]:
l.remove('hello')
l

[100, 3, 4, 5]

In [151]:
l.pop() #removes last element
l

[100, 3, 4]

In [152]:
l.clear()
l

[]

In [153]:
l = [1,2]
l2 = [3,4,5]

In [154]:
l+l2

[1, 2, 3, 4, 5]

In [155]:
l * 3

[1, 2, 1, 2, 1, 2]

In [160]:
for i in l2:
    print(i, end = " ")

3 4 5

In [170]:
l = [1,2,3,4]

In [171]:
len(l)

4

In [172]:
sorted(l)

[1, 2, 3, 4]

In [173]:
sorted(l,reverse = True)

[4, 3, 2, 1]

In [174]:
l #l remains unchanged after sorted

[1, 2, 3, 4]

In [175]:
l.sort()

In [176]:
l

[1, 2, 3, 4]

In [177]:
l.sort(reverse=True)
l  #l is changed after sort operation

[4, 3, 2, 1]

In [179]:
#write function to capitalize 
samp = "why are you so serious?"

l = []  #assign an empty list
for i in samp.split():
    l.append(i.capitalize())
    
print(l)    
print(" ".join(l))

['Why', 'Are', 'You', 'So', 'Serious?']
Why Are You So Serious?

In [181]:
sample = 'xyz@gmail.com'

sample.split('@')[0]

'xyz'

# sample = input('enter your email_id')

print(sample.split('@')[0])

In [183]:
sample = input('enter your email_id')

print(sample[:sample.find('@')])

enter your email_idnotyour@gmail.com
notyour

In [186]:
#remove duplicates in list 
l1 = [1,1,2,2,3,3,3,4,5]

l = []

for i in l1:
    if i not in l:
        l.append(i)
   
print(l)

[1, 2, 3, 4, 5]

# Tuples

In [187]:
t = (1,2,3)
t

(1, 2, 3)

In [188]:
t3 = ('hello',1,2,3)
print(t3)

('hello', 1, 2, 3)

In [189]:
#access opreations same as list 
#edit has different operation for tuple
#tuples cannot be edited 
t3[0] = 'yooman'

TypeError: 'tuple' object does not support item assignment

### tupes are immutable like strings

In [190]:
#delete whole tuple is possible 
del t3[1]

TypeError: 'tuple' object doesn't support item deletion

tuples are read only data type, useful when data integrity is very important

# Dictionary

In [191]:
d = {}
type(d)

dict

In [192]:
d

{}

In [193]:
d = {'Name':'Sid','Gender':'Male'}
d

{'Name': 'Sid', 'Gender': 'Male'}

In [194]:
d1 = {'Name':'Sid','Name':'Sid'}

In [195]:
d1

{'Name': 'Sid'}

In [197]:
d3 = {'name':'Sid','gender':'male','marks':{'Eng':90,'Maths':95,'Science':92}}
d3

{'name': 'Sid',
 'gender': 'male',
 'marks': {'Eng': 90, 'Maths': 95, 'Science': 92}}

In [199]:
#access #dict has no indexing
d3['name']

'Sid'

In [201]:
d3['marks']['Science']

92

In [202]:
#edit
d3['name'] = 'rahul'
d3

{'name': 'rahul',
 'gender': 'male',
 'marks': {'Eng': 90, 'Maths': 95, 'Science': 92}}

In [203]:
d3.get('name')

'rahul'

In [204]:
#add new value pair
d

{'Name': 'Sid', 'Gender': 'Male'}

In [205]:
d['Age'] = 33
d

{'Name': 'Sid', 'Gender': 'Male', 'Age': 33}

In [206]:
d3['marks']['hindi'] = 85
d3

{'name': 'rahul',
 'gender': 'male',
 'marks': {'Eng': 90, 'Maths': 95, 'Science': 92, 'hindi': 85}}

In [207]:
#delete
del d1

In [208]:
del d['Age']
d

{'Name': 'Sid', 'Gender': 'Male'}

In [209]:
d.clear()
d

{}

In [210]:
#no addition or multiplication
#looping possible 

for i in d3:
    print(i)

name
gender
marks

In [211]:
for i in d3:
    print(i,d3[i])

name rahul
gender male
marks {'Eng': 90, 'Maths': 95, 'Science': 92, 'hindi': 85}